*{
    background-color: white;
}

.grid-nav{
    display: grid;
    grid-template-columns: 2;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.products{
    color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 40px;
    font-size: large;
    font-weight: 500;

}
