*{
    background-color: black;
}

.h1{
    color: white;
}
.navbar{
    display: flex;
    justify-content: center;
    color: white;
}

.boton{
    color: white;
    background-color: black;
    margin: 30px;
}
